/* .change-image-wrap {
    position: relative;
    width: 150px;
    height: 150px;
    .input-image,
    .drop-image,
    .show-db-image {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
    }
    .input-image {
      z-index: 3;
    }
    .drop-image {
      z-index: 1;
    }
    .show-db-image {
      z-index: 0;
    }
} */

.change-image-wrap {
    position: relative;
    width: 150px;
    height: 150px;
}

/* .input-image, */
.drop-image,
.show-db-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.input-image {
    z-index: 3;
}

.drop-image {
    z-index: 1;
}
.show-db-image {
    z-index: 0;
}
